.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer {
  padding-top: 25px;
  margin-top: 50px;
  width: 80%;
  min-width: 250px;
  max-width: 400px;
  border-top: 1px solid #ddd;
}

.footer p {
  margin: 0;
  text-align: center;
  color: #444;
}
